h1{
    color: red;
}
h2{
    color: blue;
}
h3{
    color: green;
}   
h4{
    color: gold;
}
h5{
    color: purple;
}
h6{
    color: turquoise;
}

p{
    color: rgb(10, 65, 129);
    font-weight: bold;
    font-style: italic;;
}
span{
    color: rgb(255, 0, 0);
    font-size: 20px;
    font-weight: bold;
    font-style: italic;
}
img{
    width: 200px;
    height: 200px;
    border-radius: 50%;
}